/* Layout for the App container */
.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Calendar container takes full width minus sidebar */
.calendar-container {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
}

/* Sidebar styling */
.sidebar {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: fixed;
  right: 0;
  top: 0;
  width: 500px;
  height: 100vh;
  background-color: #5d1888;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sidebar input[type="text"] {
  background-color: aliceblue;
  color: black;
}

.sidebar button{
  padding: 15px;
  margin: 5px;
}

.sidebar button:hover {
  background-color: #a23be2;
}